/* components/sigin-input/sigin-input.wxss */
.page {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  background-color: #fff;
  .canvas {
    box-sizing: border-box;
    flex: 1;
    border: 3px solid #ccc;
  }

  .btns {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    .btn-col {
      box-sizing: border-box;
      margin-bottom: 50px;
      width: 135px;
      text-align: center;
      transform-origin: 25px 15px;
      transform: rotate(90deg);
    }

    .auto-width {
      flex: 1;

      .title {
        box-sizing: border-box;
        margin-top: 80rpx;
        width: 250px;
        color: red;
        transform-origin: 25px 15px;
        transform: rotate(90deg);
      }
    }
  }
}
